<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</p>

<p class="task-list"></p>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function(){
    $(".task-list").load("/projects/<%= @project.id %>/tasks");
  });
</script>
<% end %>
